@model IEnumerable<OilsPro.Data.Models.Vehicle>

@{
    ViewData["Title"] = "Default";
}

<h6>Included Vehicles</h6>

<p>
    <a asp-action="IncludeNewVehicle" asp-route-id="@ViewBag.CarrierId">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RegNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Carrier)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RegNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Carrier.Name)
                </td>
                <td>
                    <a asp-action="EditIncludedVehicle" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="DeleteVehicle" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
