@using OilsPro.Data.Models
@model IEnumerable<Carrier>

@{
    ViewData["Title"] = "Carriers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Carriers</h1>

<p>
    <a asp-controller="Carriers" asp-action="Edit">Create New</a>
</p>
<table class="table">
    <thead>
        <tr class="row">
            <th scope="col" class="col-lg-3 suls-text-color">Carrier name</th>
            <th scope="col" class="col-lg-3 suls-text-color">Vehicles</th>
            <th scope="col" class="col-lg-3 suls-text-color">Drivers</th>
            <th scope="col" class="col-lg-3 suls-text-color"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="row">
                <td class="col-lg-3 suls-text-color">@item.Name</td>

                <td class="col-lg-3 suls-text-color">
                    <a asp-controller="Carriers" asp-action="VehiclesDetails" asp-route-id="@item.Id">Details</a>
                </td>
               
                <td class="col-lg-3 suls-text-color">
                    <a asp-controller="Carriers" asp-action="DriversDetails" asp-route-id="@item.Id">Details</a>
                </td>

                <td class="col-lg-3 suls-text-color">
                    @if (this.User.IsInRole("Admin"))
                    {
                        <a asp-controller="Carriers" asp-action="Edit" asp-route-id="@item.Id">Edit |</a> 
                        <a asp-controller="Carriers" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                    
                </td>
            </tr>

        }
    </tbody>
</table>
