@model IEnumerable<OilsPro.Data.Models.Driver>

@{
    ViewData["Title"] = "Default";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Default</title>
</head>
<body>

    <h6>Included Drivers</h6>
    <p>

        <a asp-action="CreateNewDriver" asp-route-id="@ViewBag.CarrierId">Create New</a>

    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FullName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Carrier)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Carrier.Id)
                    </td>
                    <td>
                        <a asp-action="EditIncludedDriver" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="DeleteDriver" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
