@model IEnumerable<OilsPro.Data.Models.DeliveryAddress>

@{
    ViewData["Title"] = "Default";
}

<h6>Included addresses</h6>

<p>
    @if (Model.First() == null)
    {
        <a asp-action="CreateNewAddress" >Create New</a>
    }
    else
    {
        <a asp-action="CreateNewAddress" asp-route-id="@Model.First().ReceiverId">Create New</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Town)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Street)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Town)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Street)
                </td>
                <td>
                    <a asp-action="EditIncludedAddress" asp-route-id="@item.Id">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
